

.topUnUsed {
color:black;
}

.topUsed {
color:red;
font-style:italic;
}

.topNonAlpha{
background-color:yellow;
}

.topAlpha{
	background-color:yellow;

}

.bottNonAlpha{
background-color:grey;
}

.bottAlpha{
	background-color:white;
	opacity:50%;
}

.bottUnUsed {
color:black;
}

.bottUsed {
color:red;
}


.cell{

border-width : 2;
border-color : black;
border-style : solid;
text-align : center;
font-size : 32px; 
}

.info{
	position : absolute;
	left : 50;
	top : 10;
}
.btime{
	color:black;
	opacity:100%
}

.btimeBeat{
	color:red;
	opacity:100%;
	-webkit-animation: blinker 2s linear infinite;
}

@-webkit-keyframes blinker {  
  50% { opacity: 0.0; }
}

.cont{
	position : absolute;
	left : 80;
	top : 60;
}


.otherInfo{
	position : absolute;
	left : 700;
	top : 30;
}

body{
    -webkit-user-select: none;
}
